.CustomLink {
    font-size: 1.5rem;
    display: inline-block;
}

.CustomLink a {
    text-decoration: none;
    border: solid 0.2rem #33cfff8c;
    display: block;
    min-width: 5rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    user-select: none;
}

.CustomLink.selected a {
    background-color: white;
    border: solid 0.2rem transparent;
    color: black;
}

.CustomLink.unselected a:hover {
    background-color: #33cfff;
    color: black;
}

.CustomLink a:visited {
    color: #f372f7; 
}

.CustomLink.unselected a:visited:hover {
    background-color: #f372f7;
    color: black;
}