#top {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 0;
    left:50%;
    width: fit-content;
    max-width: 35rem;
    height: fit-content;
    text-align: center;
}

#top h1 {
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: bold;
    color: #33cfff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    user-select: none;
}

#top p {
    color:white;
    margin: 0;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    user-select: none;
}

#socialContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top:45%;
    left:50%;
    width: 18rem;
    height: 15rem;
}

#icoDesc {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
    user-select: none;
}

#socialLink {
    font-size: 4rem;
    display: inline-block;
    text-align:center;
    border-radius: 4rem;
    padding-top: 0.8rem;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#socialLink:hover {
    background-color: #33cfff;
    color: black;
}