body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #33cfff;
  cursor: pointer;
}

.link {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  color: #33cfff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  background-color: transparent;
  text-decoration: underline solid #33cfff;
  color: #33cfff;
}

.link:visited {
  background-color: transparent;
  color: #f372f7; 
}

.link:visited:hover {
  background-color: transparent;
  text-decoration: underline solid currentColor;
}

 /* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #33cfff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.65);
} 